@charset "UTF-8";


/* ==============================
    fonts, icons
============================== */
@import
    "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css",
    "https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css";


/* ==============================
    scss modules - global
============================== */
@import
    "modules/grid",
    "modules/mqbp",
    "modules/color",
    "modules/prefix",
    "modules/global";


/* ==============================
    scss modules - components
============================== */
@import
    "components/header",
    "components/accordion",
    "components/pagination",
    "components/copyright",
    "components/ripple";
