/* ==============================
  4px grid system
============================== */
$grid:      4px;
$grid2x:   ($grid * 2  );
$grid3x:   ($grid * 3  );
$grid4x:   ($grid * 4  );
$grid5x:   ($grid * 5  );
$grid6x:   ($grid * 6  );
$grid8x:   ($grid * 8  );
$grid9x:   ($grid * 9  );
$grid10x:  ($grid * 10 );
$grid12x:  ($grid * 12 );
$grid14x:  ($grid * 14 );
$grid16x:  ($grid * 16 );
$grid18x:  ($grid * 18 );
$grid20x:  ($grid * 20 );
$grid24x:  ($grid * 24 );


/* ==============================
  4px grid system
============================== */
$header-height: $grid14x;