/* ==============================
  gpu hack
============================== */
@mixin render-hack      ($val...) {
    -webkit-will-change: $val;
    -khtml-will-change:  $val;
    -moz-will-change:    $val;
    -ms-will-change:     $val;
    -o-will-change:      $val;
    will-change:         $val;
    zoom: 1;
}


/* ==============================
  border radius
============================== */
@mixin border-radius      ($val:$grid2x) {
    border-radius:         $val;
    @include render-hack(border-radius);
}


/* ==============================
    transition
============================== */
@mixin transition      ($transition...) {
    -webkit-transition: $transition;
    transition:         $transition;
    @include render-hack(transition);
}


/* ==============================
  transform
============================== */
@mixin transform      ($val){
    -webkit-transform: $val;
    -khtml-transform:  $val;
    transform:         $val;
  @include render-hack(transform);
}


/* ==============================
  box-shadow
============================== */
@mixin box-shadow         ($val:$grid, $val2:$grid2x, $color:$black08){
    -webkit-box-shadow:  0 $val $val2 $color;
    -ms-box-shadow:      0 $val $val2 $color;
    -o-box-shadow:       0 $val $val2 $color;
    box-shadow:          0 $val $val2 $color;
    @include render-hack(box-shadow);
}


/* ==============================
  box-sizing
============================== */
@mixin box-sizing      ($val:border-box){
    -webkit-box-sizing: $val;
    -khtml-box-sizing:  $val;
    -ms-box-sizing:     $val;
    -o-box-sizing:      $val;
    box-sizing:         $val;
    @include render-hack(box-sizing);
}


/* ==============================
  text-overflow
============================== */
@mixin text-overflow      ($val:ellipsis){
    -webkit-text-overflow: $val;
    -khtml-text-overflow:  $val;
    -moz-text-overflow:    $val;
    -ms-text-overflow:     $val;
    text-overflow:         $val;
}


/* ==============================
    center vertically
============================== */
%center-vertical {
    top: 50%;
    position: relative;
    @include transform(translateY(-50%));
}


/* ==============================
  make center
============================== */
%center-all {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
